body {
    background-image: url('afbeeldingen/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align:center;
     display:flex;
     flex-direction:column;
     min-height:100vh;
}

.intro {
    flex: 1;
    border-radius: 30px;
    width: 100%;
    max-width: 3000px;
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.tekst {
    color: white;

}

footer {
    flex:1;
    width: 100%;
    max-width: 3000px;
    height: 60px;
    max-height: 60px;
    margin: auto;
}

.footertekst {
    color: white;
    margin-top: 15px;
}